<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="3" name="API Tests" annotations="JDK" parallel="methods">
    <test  name="Booking APIs">
        <classes>
            <class name="Tests.BookingAPI"/>
        </classes>
    </test>
</suite>
